%% -*- erlang -*-
%% Config file for cl-application
{erl_opts, [debug_info, fail_on_warning]}.

%% Also see rebar.config.script

{port_env, [
	    {"linux", "CFLAGS", "$CFLAGS $SDL_CFLAGS"},
	    {"linux", "LDFLAGS", "$LDFLAGS $SDL_LIBDIR"},

	    {"darwin", "CFLAGS", "$CFLAGS -ObjC -D_OSX_COCOA"},
	    {"darwin", "LDFLAGS", "$LDFLAGS -framework SDL"},
	    
	    {"win32", "CFLAGS", "$CFLAGS -DWIN32 -D_WIN32 -D__WIN32__ $SDL_INCDIR"},
	    {"win32", "DRV_CFLAGS", "/Zi /W3 $ERL_CFLAGS"},
	    {"win32", "ERL_LDFLAGS", " /LIBPATH:$SDL_LIBDIR SDL.lib user32.lib"}
	   ]}.

{port_specs, [
	      {"priv/sdl_driver.so",
	       ["c_src/esdl_audio.c",
		"c_src/esdl_driver.c",
		"c_src/esdl_events.c",
		"c_src/esdl_gen.c",
		"c_src/esdl_gl.c",
		"c_src/esdl_spec.c",
		"c_src/esdl_util.c",
		"c_src/esdl_video.c",
		"c_src/esdl_wrapper.c"
	       ]}
	     ]}.

%% {edoc_opts, [{doclet, edown_doclet}]}.
